## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
variable = 2

print(variable)

2

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(variable)

int

4) Crear una variable que contenga tu nombre

In [ ]:
var_nom = 'Juan Manuel Aristizabal C'

5) Crear una variable que contenga un número complejo

In [15]:
var_comp = 3 + 4j
var_comp

(3+4j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [5]:
type(var_comp)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
num_pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [7]:
var_1 = 'True'
var_2 = True

True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [11]:
print('La variable 1 es de tipo:', type(var_1), 'y la variable 2 es de tipo:', type(var_2))
print(f'La variable 1 es de tipo: {type(var_1)} y la variable 2 es de tipo: {type(var_2)}')

La variable 1 es de tipo: <class 'str'> y la variable 2 es de tipo: <class 'bool'>
La variable 1 es de tipo: <class 'str'> y la variable 2 es de tipo: <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
var_3 = 5 + 5.3
var_3

10.3

11) Realizar una operación de suma de números complejos

In [16]:
var_comp2 = 6 + 4j

suma_comp = var_comp + var_comp2

suma_comp

(9+8j)

12) Realizar una operación de suma de un número real y otro complejo

In [20]:
suma12 = variable + var_comp
print(variable)
print(var_comp)
print(suma12)

2
(3+4j)
(5+4j)

13) Realizar una operación de multiplicación

In [22]:
var_4 = 5
var_5 = 6

multipl = var_4 * var_5

print(multipl)

30

14) Mostrar el resultado de elevar 2 a la octava potencia

In [23]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [25]:
var_6 = 27/4
print(var_6)

6.75

16) De la división anterior solamente mostrar la parte entera

In [26]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [29]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [30]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [34]:
var_7 = 'Morenita '
var_8 = 'Tepeyac'
print(var_7 + var_8)

Morenita Tepeyac

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [35]:
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [36]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [37]:
var_9 = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [39]:
var_10 = 3
var_10 -=1
print(var_10)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [40]:
1 << 2

4

En Python, el operador << se utiliza para realizar un desplazamiento a la izquierda en el valor binario de un número. Cuando realizas la operación 1 << 2, estás desplazando el valor binario de 1 dos posiciones hacia la izquierda. Esto es equivalente a multiplicar el número binario por 2 elevado a la potencia del desplazamiento.

La demostración sería esta:

El número binario 1 es representado como 0001 en 4 bits (considerando el tamaño estándar de un entero en Python).
Al hacer 1 << 2, desplazamos esos 4 bits dos posiciones hacia la izquierda: 0001 se convierte en 0100.
Entonces, 1 << 2 en Python resulta en el número binario 0100, que en decimal es 4. Esencialmente, estás multiplicando 1 por 2 elevado a la potencia de 2, lo que da como resultado 4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [43]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
float(2) + float('2')

4.0

In [45]:
2 + int('2')

4

In [46]:
str(2) + str(2)

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [48]:
var_11 = 'el texto se repite '
var_12 = 3
print(var_11 * var_12 + str(var_12) + ' veces')

el texto se repite el texto se repite el texto se repite 3 veces